<div id="title">
  <h1>{{title}}</h1>
  <h2>{{subtitle}}</h2>
  <p>{{email}}</p>
</div>

<article class="about">
  <h2>Sobre mí</h2>
  <p>
    Lorem fistrum no te digo trigo por no llamarte Rodrigor a wan de la pradera a wan.
    Benemeritaar sexuarl jarl condemor apetecan. Por la gloria de mi madre ese hombree llevame
    al sircoo pecador qué dise usteer amatomaa condemor. Papaar papaar te voy a borrar el cerito
    pupita apetecan ese pedazo de condemor jarl ese pedazo de caballo blanco caballo negroorl
    se calle ustée. Al ataquerl llevame al sircoo me cago en tus muelas llevame al sircoo ese hombree.
    Se calle ustée te voy a borrar el cerito pupita a peich ahorarr apetecan por la gloria de mi madre
    caballo blanco caballo negroorl te va a hasé pupitaa apetecan pupita. Pupita no te digo trigo por no
    llamarte Rodrigor de la pradera te voy a borrar el cerito está la cosa muy malar tiene musho peligro
    no puedor tiene musho peligro diodenoo va usté muy cargadoo amatomaa. Se calle ustée caballo blanco
    caballo negroorl tiene musho peligro apetecan amatomaa.
  </p>

</article>
